.App {
  text-align: center;
}

ul {
  align-items: center;
  background-color: #f9d6f8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  height: 20%;
  list-style: none;
  margin: 20px auto;
  width: 30%;
}

.list {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

li {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
}

.btn-green {
  background-color: #007c0a;
  border-radius: 50%;
  color: #02dc02;
}

.btn-red {
  background-color: #870000;
  border-radius: 50%;
  color: #ff0000;
}

.btn-blue {
  background-color: #009dff;
  border-radius: 50%;
  border: 1px solid #005685;
  color: #005685;
}

.btn-black {
  background-color: #cbcbcb;
  border-radius: 50%;
  border: 1px solid #4e4e4e;
  color: #565656;
}

@media screen and (max-width: 700px) {
  body {
    background-color: #90ee90;
  }

  .list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
